@model StockTracking.MyModel.MyBrand
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

@using (Html.BeginForm("Add", "Brand", FormMethod.Post))
{
    <h2>Marka Ekle</h2>
    <div class="container">
        @Html.LabelFor(x => x.CategoryId)
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Cat, "--Seçin--", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryId, "", new { @class = "text-danger" })
        @*@Html.DropDownList("CategoryId",(List<SelectListItem>)ViewBag.Cat, "---Seçiniz---", new { @class = "form-control" })*@
        <br />

        @Html.Label("Marka")
        @Html.TextBoxFor(x => x.Brand1, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Brand1, "", new { @class = "text-danger" })

        <br />

        @Html.Label("Açıklama")
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })

        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })

        <br />
        <button class="btn btn-success">Ekle</button>
    </div>
}